.nombres-prodcutos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 509px;
    height: 30px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 49px;

    width: 509px;
    height: 30px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}