.estadisticas {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 12px;
    gap: 16px;

    width: 155px;
    height: 110px;

    background: #003049;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

li {
    list-style: none;
}